extends layout 

block content 
    h1=title 

        if posts.length   

            each post in posts 
                div 
                h3
                    a(href=`${post.url}`)  #{post.title}
                h4 By: #{post.user.user_name}
                p #{post.formatted_date}
                p #{post.text}  
                hr
                h4 Comments 
                if post.comments
                    each comment in post.comments 
                        div
                        h5 #{comment.user.user_name}
                        p #{comment.text}
                        p -- #{comment.date}
                        hr
                else 
                    p No comments yet! 
                hr

        else 
            p No posts yet!
